nav {
    display: flex;
    justify-content: space-between;
    padding:20px;
   
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  
    
  }
  
  li {
    margin: 0 10px;
   
  }
  
  .active {
    font-weight: bold;
  }

  
  